<p>
    <mat-toolbar color="primary" routerLink="/farmacia">
        <mat-toolbar-row>
            <span>Farmácia</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
<p>
    <mat-toolbar color="primary" routerLink="/bairro">
        <mat-toolbar-row>
            <span>bairro</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon">
                <mat-icon>add_to_queue</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<router-outlet></router-outlet>